tr, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

table, th {
  border: 2px solid black;
  border-collapse: collapse;
}

.entryColumn {
  width: 30%;
}

.projectNameColumn {
  width: 30%;
}

.dateColumn {
  width: 15%;
}

.hoursColumn {
  width: 5%;
}

.entryActionsColumn {
  width: 20%;
}

.projectColumn {
  width: 70%;
}

.totalHoursColumn {
  width: 10%;
}

.projectActionsColumn {
  width: 20%;
}

table tr th, table tr td {
  text-align: center;
}

header {
  background-color: rgb(85, 85, 255);
}

table {
  background-color: rgb(234, 197, 245);
}

body {
  background-color: rgb(183, 185, 187);
}

.nav-div {
  background-color: rgb(140, 213, 255);
}

form {
  padding: 0px 100px;
  background-color: rgb(190, 190, 190);
}

.sort-column:hover {
  background-color: turquoise;
}

.sort-column:focus {
  background-color: yellow;
}