<div layout="column" layout-align="center center">
  <md-divider style="width: 80%" layout="column" layout-align="center center">
    <h2>Add Entry</h2>
    <form>
      <md-input-container style="width: 100%">
        <input type="text" ng-model="vm.newEntry.name" placeholder="What did you do?" />
      </md-input-container>
      <br />
      <md-input-container>
        <md-select ng-model="vm.newEntry.project_id">
          <md-option ng-repeat="project in vm.projects.list" ng-value="project.id">{{project.name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Date:</label>
        <md-datepicker ng-model="vm.newEntry.date"></md-datepicker>
      </md-input-container>
      <md-input-container>
        <label>Start Time:</label>
        <input type="time" id="startTime" />
      </md-input-container>
      <md-input-container>
        <label>End Time:</label>
        <input type="time" id="endTime" />
      </md-input-container>
      <input type="submit" ng-click="vm.addEntry()" />
    </form>
  </md-divider>
  <md-divider style="width: 80%" layout="column" layout-align="center center">
    <h3>History</h3>
    <table style="width: 100%">
      <thead>
        <tr>
          <th ng-click="vm.sortTable(0)">Entry</th>
          <th ng-click="vm.sortTable(1)">Project</th>
          <th ng-click="vm.sortTable(2)">Date</th>
          <th ng-click="vm.sortTable(3)">Hours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in vm.entries.list">
          <td>{{entry.name}}</td>
          <td>{{entry.project_name}}</td>
          <td>{{entry.date | date: "MMM d, yyyy"}}</td>
          <td>{{entry.hours}}</td>
          <td>
            <button ng-click="vm.deleteEntry(entry)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-divider>
</div>