<div layout="column" layout-align="center center">
  <md-divider style="width: 80%" layout="column" layout-align="center center">
    <h2>Add Project</h2>
    <form style="width: 80%">
      <md-input-container style="width: 80%">
        <input type="text" ng-model="vm.newProject.name" placeholder="Project name" />
      </md-input-container>
      <md-button ng-click="vm.addProject()" class="md-primary md-raised">Submit</md-button>
    </form>
  </md-divider>
  <md-divider style="width: 80%" layout="column" layout-align="center center">
    <h3>Projects</h3>
    <table style="width:80%">
      <thead>
        <tr>
          <th class="projectColumn">Project</th>
          <th class="totalHoursColumn">Total Hours</th>
          <th class="projectActionsColumn">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in vm.projects.list">
          <td>
            <md-input-container style="width: 80%">
              <input type="text" ng-model="project.name">
            </md-input-container>
          </td>
          <td>{{project.hours}}</td>
          <td>
            <md-button class="md-primary md-raised md-hue-3" ng-click="vm.editProject(project)">UPDATE</md-button>
            <md-button class="md-warn md-raised md-hue-2" ng-click="vm.deleteProject(project)">DELETE</md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-divider>
</div>